html {
  height: 100%;
}

body {
  background: $pink url(../assets/pink-background.png) center center/cover no-repeat;
  background: $pink url(/assets/pink-background.svg) center center/cover no-repeat;
  font-family: $sans-serif;
}

#container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-weight: 200;
  font-size: 24px;
}

form {
  box-sizing: border-box;
  margin: 20px auto;
}

input[type="submit"], input[value="Sign up"], button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 3px;
  transition: all 0.2s ease-in;
  margin: 20px;
  padding: 10px;
}

input[type="submit"]:hover, button:hover {
  background-color: white;
  border-color: white;
  color: $dark-purple;
}

input[value="Sign up"] {
  background-color: $pink;
  border-color: $pink;
  color: $dark-purple;
}

input[value="Sign up"]:hover {
  background-color: $dark-pink;
  border-color: $dark-pink;
  color: white;
}

input[type="text"], input[type="password"] {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $light-pink;
  background: rgba(255,255,255, 0.6);
  transition: all 0.2s ease-in;
}

input[type="text"]:focus, input[type="password"]:focus {
  background: rgba(255,255,255, 0.9);
  border-color: $dark-pink;
}
