<header>
  <h1 class="logo"><i class="fa fa-music" aria-hidden="true"></i> Music App</h1>
  <!-- <nav>
  </nav> -->
  <section class="buttons">
    <% if logged_in? %>
      <%= button_to "Log out", session_url, method: :delete %>
    <% else %>
      <%= button_to "Log in", new_session_url, method: :get %>
      <%= button_to "Sign up", new_user_url, method: :get %>
    <% end %>
  </section>
</header>
